@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800');
@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

.calendar {
    position: relative;
    display: block;
    font: 500 "Open Sans";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    padding: 0 0 0 57px;
    color: #404040;
}
.calendar .view {
    position: relative;
    float: left;
}
.calendar .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
}
.calendar .nav .btn {
    position: absolute;
    display: block;
    z-index: 1;
    cursor: pointer;
    cursor: hand;
    width: 32px;
    height: 32px;
    line-height: 31px;
    top: 0;
    left: auto;
    transition: opacity .5s;
    border-radius: 4px;
}
.calendar .nav .prev {
    left: 0;
}

.calendar .nav .prev-year {
    opacity: 0;
    left: 45px;
}
.calendar .nav:hover .prev-year {
    opacity: 1;
}
.calendar .nav .next-year {
    opacity: 0;
    right: 32px !important;
}
.calendar .nav:hover .next-year {
    opacity: 1;
}

.calendar .nav .next {
    right: 0;
}



.calendar .head {
}
.calendar .head .title {
    font: 300 1.2em/32px "Open Sans";
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    background-color: cornflowerblue;
}
.calendar .head span {
    cursor: pointer;
}
.calendar .row {
    clear: both;
}
.calendar .row.th {
    font-weight: 700;
    text-transform: uppercase;
    height: 40px;
}
.calendar .row.th .C {
    border-bottom: 1px solid #c0c0c0;
    border-radius: 0;
    background-color: cornflowerblue;
    color: white;
}
.calendar .C {
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    float: left;
    transition: background-color .05s, color .05s;
    border-radius: 50%;
}
.calendar .C.mn {
    cursor: pointer;
    cursor: hand;
}
.calendar .C.mn:hover {
    background: #94c5fd;
    color: white;
}
.calendar .C.g {
    color: #a0a0a0;
    font-weight: 300;
}
.calendar .C.slctd {
    background: cornflowerblue;
    color: white;
    font-size: 1.15em;
    font-weight: 300;
}
.calendar .C.today {
    font-weight: 900;
    font-size: 1.3em;
}

.calendar .selected {
    margin: 0 0 0 64px;
    float: right;
    text-align: center;
    width: 280px;
}
.calendar .selected .desc {
    border-bottom: 1px solid #c0c0c0;
}

.calendar .selected .val {
    padding: 0 8px;
    background: #f0f0f0;
    color: #808080;
}


.calendar .dayArea {
    position: relative;
    width: 280px;
    height: 240px;
    overflow: hidden;
}
.calendar .dayArea .mArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
